# IDE
.idea
.spyderproject
.ropeproject

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
coverage.xml


# Sphinx documentation
docs/_build/

# jupyter
.ipynb_checkpoints

# virtualenv
.venv
